@model web1.Models.HoaDon_ID

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc chắn muốn xóa không?</h3>
<div>
    <h4>Hóa đơn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ThanhTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang_ID1.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang_ID1.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien_ID1.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien_ID1.HoTen)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            @Html.ActionLink("Trở về danh sách", "Index")
        </div>
    }
</div>
