@model IEnumerable<web1.Models.NhanVien_ID>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý nhân viên</h2>
<div class="row">
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            @using (Html.BeginForm())
            {
                <input class="form-control mr-sm-2" type="text" name="KeyWord" value="" />
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" name="submit" value="Tim" />
            }

        </form>
    </nav>

</div>
<p>
    @Html.ActionLink("Tạo mới thông tin", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChucVu)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChucVu)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
<div class="row">
    <nav aria-label="Page navigation" class="mx-auto" ">
        <ul class="pagination >
            @if (@ViewBag.NumPages != null && @ViewBag.NumPages > 1)
            {
                <li class="page-item"><a class="page-link" href="Index?page=1"><<</a></li>
                for (int i = 1; i <= @ViewBag.NumPages; i++)
                {
                    <li class="page-item"><a class="page-link" href="Index?page=@i">@i</a></li>
                }
                <li class="page-item"><a class="page-link" href="Index?page=@ViewBag.NumPages">>></a></li>
            }

        </ul>
    </nav>
</div>
