@model web1.Models.ChiTietHD

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết </h2>

<div>
    <h4>Chi tiết hóa đơn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoaDon_ID.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoaDon_ID.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SanPham_ID.TenSanPham)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SanPham_ID.TenSanPham)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Trở về danh sách", "Index")
</p>
