@model web1.Models.RAM_ID

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>RAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DungLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DungLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Trở về danh sách", "Index")
</p>
